#test
{
    color:chartreuse;
    text-align: left;
    font-size: 150px;
    float:left;
    
}
#test2
{
    color:chartreuse;
    text-align: right;
    font-size: 50px; 
    
}
#intro{
    background-color:burlywood;
    height: 700px;
}
#bdl{
    background-color:rgb(119, 119, 119);
    height: 700px;
}